img.anime:hover{
    transform: scale(1.05);
    transition: all 0.3s;
    cursor: pointer;
}
img.anime {
  transition: transform 0.3s ease; 
  cursor: pointer;
}
.search{
    height: 32px;
    border-radius: 30px;  
}
.search input{
    outline: none;
    border:none;
}
.input{
    box-shadow: 0px -4px 10px rgba(255,255,255,0.3),
    0px 4px 10px rgba(255,255,255,0.3)
}